/* Styling Swal biar adaptif sama tema */
.swal2-popup {
border-radius: 0.5rem; /* rounded-lg */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
}
[data-theme="night"] .swal2-popup {
background: #0F172A; 
color: #ECF9FF; 
}
[data-theme="dracula"] .swal2-popup {
background: #282A36; 
color: #F8F8F3; 
}
[data-theme="night"] .swal2-confirm {
background-color: #3ABDF8; 
color: #ffffff;
}
[data-theme="dracula"] .swal2-confirm {
background-color: #FF79C6; 
color: #ffffff;
}
